{% extends 'admin/admin.html.twig' %}

{% block title %}
	{{ 'Nouvelle recette' | trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'Ajouter une nouvelle recette' | trans }}</h1>


	{{ form_start(form) }}
	<div class="d-flex">
		{{ form_row(form.title) }}
		{{ form_row(form.duration) }}
	</div>
	{{ form_end(form) }}

{% endblock %}
