{% extends 'admin/admin.html.twig' %}

{% block title %}Toutes les recettes
{% endblock %}

{% block body %}
	<h1>Recettes</h1>

	<a href="{{ path('admin.recipe.create') }}" class="btn btn-info">Ajouter</a>
	<table class="table">

		<thead>
			<tr>
				<th>Titre</th>
				<th>Catégorie</th>
				<th style="width: 200px">Actions</th>
			</tr>

		</thead>
		<tbody>
			{% for recipe in recipes %}
				<tr>
					<td>
						<a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">{{ recipe.title }}</a>
					</td>
					<td>{{recipe.category.name | default }}</td>
					<td>
						<div class="d-flex gap-1">
							<a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
							<form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger btn-sm">Supprimer</a>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-center gap-1">
		{% if page > 1 %}
			<a href="{{ path('admin.recipe.index', {page: page - 1}) }}" class="btn btn-info">Page Précédente</a>
		{% endif %}
		{% if page < maxPage %}
			<a href="{{ path('admin.recipe.index', {page: page + 1}) }}" class="btn btn-info">Page Suivante</a>
		{% endif %}
	</div>
{% endblock %}
