{% extends 'admin/admin.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<h1>Catégories</h1>
	<p>
		<a href="{{path('admin.category.create')}}" class="btn btn-info">Ajouter une catégorie</a>
	</p>

	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th style="width: 200px">Actions</th>
			</tr>
		</thead>

		<tbody>
			{% for category in categories %}
				<tr>
					<td>
						<a href="{{ path('admin.category.edit', {id: category.id}) }}">{{ category.name }}</a>
					</td>

					<td>
						<div class="d-flex gap-1">
							<a href="{{ path('admin.category.edit', {id: category.id,}) }}" class="btn btn-warning btn-sm">Modifier</a>
							<form action="{{ path('admin.category.delete', {id: category.id}) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger btn-sm">Supprimer</a>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
